h1, h2, h3
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
	font-weight: 100;
    color: #000066;
    border-bottom: 1px solid #000066;
}

p, label, input
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", sans-serif;
	font-weight: 100;
    color: #000066;
}
