/OKWCoreParser.interp
/OKWCoreParser.java
/OKWCoreParser.tokens
/OKWCoreParserBaseListener.java
/OKWCoreParserBaseVisitor.java
/OKWCoreParserListener.java
/OKWCoreParserVisitor.java
/OKWCoreLexer.interp
/OKWCoreLexer.java
/OKWCoreLexer.tokens
